---
layout: default
title: About
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h2 class="post-title">About</h2>
    </header>
    <p><h5>Coming Soon...</h5></p>
    <br/>
    <p>You can find Craig at the following social media accounts:</p>
    <br/>
    <p>Mastodon: <a rel="me" href="https://chicago.us.org/@craig">@craig@chicago.us.org</a></p>
    <p><link rel="me" href="https://chicago.us.org/@craig"></p>
    <p>Twitter: <a href="https://twitter.com/wlkrcrg">@wlkrcrg</a><br>
    <p>Facebook: <a href="https://www.facebook.com/wlkrcrg">facebook.com/wlkrcrg</a><br>
    <p>Instagram: <a href="https://www.instagram.com/wlkrcrg/">@wlkrcrg</a><br>
    <p>YouTube: <a href="https://www.youtube.com/@walkercraig">youtube.com/c/walkercraig</a><br>
    <p>Reddit: <a href="https://www.reddit.com/r/walkercraig/">/r/walkercraig</a><br>
    <p>Telegram: <a href="https://t.me/wlkrcrg">t.me/wlkrcrg</a><br>
    <p>Pinterest: <a href="https://www.pinterest.com/wlkrcrg">https://www.pinterest.com/wlkrcrg</a><br>
    <p>Nostr Public Key: npub1t4ckhe0qg927xq6frl38kuancflz72vk644z2c9a8qa6tyl97h4sa5dgzj</p>
    <br/>
    <p><h3>Thank you for visiting.</h3></p>
    <br/>
  </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
