---
layout: default
title: About Craig
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h2 class="post-title">About</h2>
    </header>
    <p>To learn more about the idea and philosophy behind this project, read <a rel="me" href="https://walkercraig.com/about-this-site.html">About This Site</a>.</p>
    <hr>
    <p><h5>In Brief...</h5></p>

    <p>Craig was born, raised, and still resides in the Chicago area with his wife, his son, his daughter, and his dog. He is the founder of several organizations that he hopes to grow for the rest of his life and that, ideally, will continue long after he is gone.</p>
    
    <p>This site is a place for clients, friends, and new acquaintances to learn more. Like all of life, it is a neverending work in progress. If something is online or offline and it is from Craig, you will see it here.</p>

    <p>Feel free to share anything you see, follow Craig on social media, and contact him with any questions or concerns.</p>
    <br/>
    <p><h5>In Detail...</h5></p>

    <p>Craig was born in the summer of ’84 on the outskirts of Chicago. He was fortunate and is grateful to have been given a happy childhood with many friends and a loving, supportive family who did all they could to provide him with opportunity and experience beyond measure. Whether it was in the classroom, sports, or the arts, his parents and siblings were always there to encourage.</p>
    
    <p>He briefly attended university but ultimately chose to leave and pursue other dreams - dreams which, if you were to ask him today, have, like all dreams, faded and become difficult to remember but were important enough to affect him, once upon a time.</p>

    <p>Upon recovery from a sudden and serious physical illness that left him in profound personal reflection, he disappeared. Through these “lost years” he refuses to discuss, he was spotted in a variety of cities and locations all over the world, often at the same time. One day, he returned to the Chicago area and it’s there he calls home with his wife, his son, his daughter, and his dog.</p>

    <p>He is the founder of several organizations that he hopes to grow for the rest of his life and that, ideally, will continue long after he is gone.</p> He has worked as a freelancer under more than a few pseudonyms and he has worked as an independent musician, storyteller, and performer, but the majority of his adult work life has been in sales and corporate/customer relations, working with small, family-owned shops to large, multinational brands. He has done charity fundraising for the American Cancer Society, St. Jude’s Children’s Hospital, and the Boy Scouts of America.</p>
    
    <p>Through it all, one thing has remained constant: a passion for meeting new people and a willingness to embrace life and its many challenges and experiences with a positive outlook and an open mind.</p>

    <p>This site is a place for clients, friends, and new acquaintances to learn more. Like all of life, it is a never-ending work in progress. If something is online or offline and it is from Craig, you will see it here. Feel free to share anything you see, follow Craig on social media, and contact him with any questions or concerns.</p>
    <br/>
    <p><h5>In Extraordinary Detail...</h5></p>

    <p>On a Friday afternoon in the days of the dog, a serious Greek poet’s lament, a sudden thunderstorm rolled across the Illinois plains bringing perhaps the last sips of the nectar of life to the year’s fresh sweet corn crop and the farmer his last hopeful prayer for the season’s coming return…</p>

    <p>Just kidding. That’s a bit much.</p>
    <br/>
    <p>You can find Craig at the following social media accounts:</p>
    <br/>
    <p>Twitter: <a href="https://twitter.com/wlkrcrg">@wlkrcrg</a><br>
    <p>Facebook: <a href="https://www.facebook.com/wlkrcrg">facebook.com/wlkrcrg</a><br>
    <p>Bluesky: <a href="https://bsky.app/profile/@walkercraig.com">@walkercraig.com</a><br>
    <p>Instagram: <a href="https://www.instagram.com/wlkrcrg/">@wlkrcrg</a><br>
    <p>YouTube: <a href="https://www.youtube.com/@walkercraig">youtube.com/c/walkercraig</a><br>
    <p>Nostr Public Key: npub1t4ckhe0qg927xq6frl38kuancflz72vk644z2c9a8qa6tyl97h4sa5dgzj</p>
    <br/>
    <p><h3>Thank you for visiting.</h3></p>
    <br/>
  </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
