---
layout: default
title: Digital Millenium Copyright Act (DMCA) Notice
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h3 class="post-title">Digital Millenium Copyright Act (DMCA) Notice</h3>
    </header>
    <br>
  <article>
    <p>
      If you believe that material available on our site infringes on your
      copyright(s), please notify us by providing a DMCA notice. Upon receipt of
      a valid and complete notice, we will remove the material and make a good
      faith effort to notify our users of the error and direct them to the
      holder of the copyright(s).
    </p>

    <p>
      Challenge Media, LLC. is a media/news/publishing company where
      contributors often use copyrighted materials in commentary or journalism,
      and/or transform the materials into something original of their own. As
      such, before submitting a DMCA notice, it’s important to consider if the
      manner in which the material is used falls under fair use. If you are not
      sure whether material located on a site by Challenge Media, LLC. infringes
      your copyright, or if it is subject to fair use protections, you should
      first consider seeking legal advice.
    </p>

    <p>
      Please be advised that you may be liable for damages (including costs and
      attorneys’ fees) if you materially misrepresent that material or activity
      is infringing. We will highlight such abuses and seek to collect those
      damages.
    </p>

    <p>
      Your DMCA notice will be forwarded to the party that made the material
      available, and also may be sent to third parties such as
      <a href="https://lumendatabase.org">LumenDatabase.org</a>. A note will
      also be placed on the site in question detailing the name of the copyright
      holder who submitted the takedown notice. In addition, you are required to
      consider the possible fair use implications, as a result of
      <em>Lenz&nbsp;v.&nbsp;Universal</em>. We reserve the right to challenge
      abuses of the DMCA process, and your notice does not waive that right.
    </p>

    <h3>Please follow these steps to file a notice:</h3>
    <ol>
      <li>Verify that the site in question is presented by Challenge Media, LLC.</li>
      <li>Contact the site directly.</li>
      <li>
        Send your complaint to Challenge Media, LLC. via the address below if
        the issue cannot be resolved directly with the site.
      </li>
    </ol>

    <p>
      As required by the DMCA, we have a policy to terminate users and/or sites
      that we consider to be repeat infringers. Please note that notices that
      are successfully countered, rejected on fair use grounds, or deemed to be
      fraudulent are not counted against a user or site.
    </p>

    <p><strong>You can send your complaint to our designated agent (we prefer email):</strong></p>
    <address>
      <strong>Designated Copyright Agent</strong><br />
      Challenge Media, LLC.<br />
      1636&nbsp;N.&nbsp;Wells&nbsp;St.<br />
      Chicago,&nbsp;IL&nbsp;60614
    </address>

    <p><strong>You must include the following:</strong></p>
    <ul>
      <li>
        A physical or electronic signature of the copyright owner or a person
        authorized to act on their behalf;
      </li>
      <li>An identification of the copyrighted work claimed to have been infringed;</li>
      <li>
        A description of the nature and exact location of the material that you
        claim to infringe your copyright, in sufficient detail to permit
        Challenge Media, LLC. to find and positively identify that material. For
        example, we require a link to the specific post (not just the name of
        the site) that contains the material and a description of which specific
        portion of the post – an image, a link, the text, etc. – your complaint
        refers to;
      </li>
      <li>Your name, address, telephone number and email address;</li>
      <li>
        A statement that you have a good faith belief that use of the material
        in the manner complained of is not authorized by the copyright owner,
        its agent, or the law; and
      </li>
      <li>
        A statement that the information in the notification is accurate, and
        under penalty of perjury, that you are authorized to act on behalf of
        the owner of an exclusive right that is allegedly infringed.
      </li>
    </ul>
  </article>
    <hr>    
    <br/>
    </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
