---
layout: default
title: Craig Walker
---

<main id="main" class="site-main">

{% if page.url == "/" %}
    <!-- Hero Section -->
    <div class="hero inner">
        <h3>{{ site.author.greetings }}</h3>
        <p>This site is the digital home of Craig Walker. It's meant to be a place for family, friends, clients, and new acquaintances to learn more. But mostly, it's for my children...and their children and their children and their children...</p>
        <p>Like all of life, it is a neverending work in progress. But if something is online or offline and it is from Craig, you will either find it here or find a link to it here. To learn more about the idea and philosophy behind this project, read <a rel="me" href="https://walkercraig.com/about-this-site.html">About This Site</a>.</p>
        <p>Feel free to share anything you see, follow Craig on social media, and contact him with any questions or concerns.</p>
    </div>        

    <!-- Newsletter Subscription Box -->
    {% if site.mailchimp_url %}
        {% include newsletter-box.html %}
    {% endif %}
{% endif %}

</main>
