---
layout: default
title: Organizations
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h3 class="post-title">Organizations</h3>
    </header>
    <br>
    <a href="https://challenge.media"><h3>Challenge Media</h3></a>
    <p>Motto: "Challenge Everything."</p>
    <p>Officially formed in the late summer of 2016, Challenge Media is a new media company made for a new age.<br><br/>
    If you've been on the internet over the last 20 years, it's likely you've seen some of our work. What began as a loose collective posting art wherever there was a submit/post button, Challenge Media has now gone legitimate publishing creative content for the internet and its own digital publications.<br><br/>
    Challenge Media is a unique startup that is uncompromising in its belief in editorial independence. The company refuses to cater to outside shareholder investment or change course based on the wind and the whims of venture capital. The company even refuses to take or apply for grants or even consider taking any donation. While we do work with advertisers, our annual budgetary decisions are made solely upon the readership/subscriber base. Strictly operating this way allows the business to remain committed to both its employees and its readership/subscriber base and allowing the greatest amount of freedom in thought and opinion.</p>
    <hr>
    <p><h3>The æon Society</h3></p>
    <p>Motto: "Forever, For All..."</p>
    The æon Society is a loosely organized philosophical society dedicated to the observation, study, discussion, and analysis of the best practices for societies on the micro and macro levels. Periodically, the æon society will consider reviewing and assist composing non-partisan public policy recommendations with a fundamental goal of providing the maximum benefit to the individual, family, and the collective.</p>
    <hr>
    <p><h3>Evangelines</h3></p>
    <p>The Evangelines are a small group of practitioners of what can best be described as both a religious philosophy and a philosophy of religion. A metareligion and a metaphilosophy. Some call it a syncretism while others call it a return to the foundation of spirituality. It is ancient and it is modern. It may be the first of its kind, and it is perhaps the last of its kind. Do not be afraid.</p>
    ---
    <br/>
    <p><h3>The Sons & Daughters</h3></p>
    <p></p>
    ---
    <br/>
    </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main> 
