---
layout: default
title: Organizations
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h3 class="post-title">Organizations</h3>
    </header>
    <br/>
    {% include image-caption.html imageurl="/assets/images/pages/challengemedia6.png" title="Challenge Media" %}
    <br/>
    <a href="https://challenge.media"><h3>Challenge Media</h3></a>
    <p>Challenge Media is a new media company made for the new age.</p>
    ---
    <br/>
    
    <br/>
    </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
