---
layout: default
title: Organizations
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h2 class="post-title">Organizations</h2>
    </header>
    {% include image-caption.html imageurl="/assets/images/pages/challengemedia6.png" title="Challenge Media" %}
    <p><h3>Challenge Media</h3></p>
    <p>Challenge Media is a new media company made for the new age.</p>
    <br/>
  </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
