<footer id="colophon" class="site-footer">
    <p class="site-info inner">
        <a href="#">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} | All rights reserved. Use of this site constitutes acceptance of the <a href="http://www.walkercraig.com/terms-and-conditions.html">Terms & Conditions</a> and the <a href="http://www.walkercraig.com/privacy-policy.html">Privacy Policy</a>. The material on this site may not be reproduced, distributed, transmitted, cached, or otherwise used, except with prior written permission of Challenge Media. Challenge Media may earn a portion of sales from products and services that are purchased through links on this site as part of affiliate partnerships with retailers.
    </p>
    <a id="back-to-top" class="back-to-top" href="#page">
        <span class="icon-arrow-up" aria-hidden="true"></span>
        <span class="screen-reader-text">Back to top</span>
    </a>
</footer><!-- .site-footer -->
