<section class="newsletter-box inner">
    <h2 class="newsletter-box-title">Subscribe to {{ site.name }}'s Letters</h2>
    <p>Even after the internet's many developments, email remains the best social/publishing/communications tool ever created.<br><br/>Get the latest from Craig delivered straight to your inbox.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
            class="validate gh-subscribe-form" target="_blank" novalidate>
            <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="Your email address">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
    </div>
    <!--End mc_embed_signup-->
</section><!-- .widget -->
