// Fonts
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;

// Colors
$color-accent: #1e73be;
$gray-darkest: #1d1d1d;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #1e73be;
