// Fonts
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;

// Colors
$color-accent: #1e1e1e;
$gray-darkest: #1e1e1e;
$gray-dark: #404040;
$gray: #808080;
$gray-light: #bfbfbf;
$gray-lighter: #e1e1e1;
$yellow: #d4a259;
